<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title th:text="Home"></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<style>
img {
	max-width: 100%;
	max-height: 100%;
	display: block; /* remove extra space below image */
}
</style>
</head>
<body>


	<div class="container">
		<div class="jumbotron">
			<h1>Welcome to Event-Registration App</h1>
			<div>
				<a  th:href="@{'/login'}" class="btn btn-outline-primary"  sec:authorize="isAnonymous()">Sign In</a>
				<a  th:href="@{'/events'}" class="btn btn-outline-success">Register To Events</a>
			</div>
		</div>
		<div>
			<img th:src="@{/images/home-image.jpg}" />
		</div>
	</div>
</body>
</html>