<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>New Event</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
	crossorigin="anonymous"></script>
<style>
.table td {
	text-align: center;
}
</style>
</head>
<body>
	<div id="layoutSidenav_content">
		<main>
		<div class="container-fluid">
			<h1 class="mt-4">New Event</h1>


			<div class="card mb-4">
				<div class="card-header">
					<div>
						<form th:action="@{/logout}" method="POST">
							<input type="submit" value="Logout"
								class="btn btn-outline-primary pull-left" /> <a
								th:href="@{'/events'}" class="btn btn-outline-success">Events</a>
						</form>
					</div>

				</div>
				<div class="card-body">
					<div class="table-responsive">
						<form class="form-group" action="#" th:action="@{/events/new}"
							th:object="${eventDto}" method="post">
							<table class="table table-bordered" id="dataTable" width="100%"
								cellspacing="0">
								<tbody>
									<tr>
										<td>Event Name:</td>
										<td><input type="text" class="form-control"
											placeholder="Event Name" th:field="*{name}" /> <span
											th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span></td>
									</tr>
									<tr>
										<td>Event Place:</td>
										<td><input type="text" class="form-control"
											placeholder="Event Place" th:field="*{place}" /> <span
											th:if="${#fields.hasErrors('place')}" th:errors="*{place}"></span></td>
									</tr>
									<tr>
										<td>Event Start At:</td>
										<td>
											<div class="container">
												<input type="date" class="form-control col-sm-4 d-inline"
													placeholder="Start Date" th:field="*{startDate}" /> <input
													type="time" class="form-control col-sm-4 d-inline"
													placeholder="Start Time" th:field="*{startTime}" /> <span
													th:if="${#fields.hasErrors('startDate')}"
													th:errors="*{startDate}"></span> <span
													th:if="${#fields.hasErrors('startTime')}"
													th:errors="*{startTime}"></span>
											</div>
										</td>
									</tr>
									<tr>
										<td>Event Starts Ends:</td>
										<td>
											<div class="container">
												<input type="date" class="form-control col-sm-4 d-inline"
													placeholder="Start Date" th:field="*{endDate}" /> <input
													type="time" class="form-control col-sm-4 d-inline"
													placeholder="Start Time" th:field="*{endTime}" /> <span
													th:if="${#fields.hasErrors('endDate')}"
													th:errors="*{endDate}"></span> <span
													th:if="${#fields.hasErrors('endTime')}"
													th:errors="*{endTime}"></span>
											</div>
											</div>
										</td>
									</tr>
									<tr>
										<td></td>
										<td>
											<div class="col-sm-6">
												<button
													class="btn btn-lg btn-primary btn-block text-uppercase "
													type="submit">Save</button>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</form>
					</div>
				</div>
			</div>
		</div>
		</main>
		<footer class="py-4 bg-light mt-auto">
			<div class="container-fluid">
				<div class="d-flex align-items-center justify-content-between small">
					<div class="text-muted">Copyright &copy; Your Website 2020</div>
					<div>
						<a href="#">Privacy Policy</a> &middot; <a href="#">Terms
							&amp; Conditions</a>
					</div>
				</div>
			</div>
		</footer>
	</div>
	</div>


	<script th:src="@{/js/bootstrap.js}"></script>
</body>
</html>